.search_wrapper {
  margin-bottom: 30px;

  & .user_search_filed {
    padding: 12px;
    width: 40%;
  }

  & .search_submit,
  .search_reset {
    display: inline-block;
    padding: 16px;
    background-color: $primary-color;
    color: #fff;
    margin-left: 10px;
  }
}

.noResult {
  margin-top: 30px;
}
